<div class="flex flex-col justify-center items-center">
    <h1 class="text-4xl mt-10 mb-3">
        Sign in
    </h1>
    <a routerLink='/register' class="colorGreen">
        Need an account?
    </a>
</div>
<form
    class="flex flex-col justify-center items-center mt-5"
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
>
    <input 
        class="input"
        type="text"
        placeholder="Email"
        formControlName="email"
    />
    <input 
        class="input"
        type="password"
        placeholder="Password"
        formControlName="password"
    />

    <button
        class="button"
        type="submit"
    >
        Sign in
    </button>
</form>

