.button {
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
    background-image: none;
    background-color: transparent;

}

.colorGreen {
    color: #5CB85C;
}

.colorGrey {
    color: #bbb;
}

.colorWhite {
    color: white;
}

.buttonGreen {
    color: #5CB85C;
    border-color: #5CB85C;
}

.buttonGreen:hover {
    color: white;
    background-color: #5CB85C;
}

.buttonWhite {
    color: #ccc;
    border-color: #ccc;
}

.buttonWhite:hover {
    color: white;
    background-color: #ccc;
}

.avatar {
    vertical-align: middle;
    height: 32px;
    width: 32px;
    border-radius: 30px;
}