<!-- https://api.realworld.io/api/articles/feed -->
<div class="ml-32 mt-10 w-6/12">
    <div class="mb-5 nav">
        Global Feed
    </div>
    <div class="flex justify-between">
        <div class="flex items-center">
            <div>
                img
            </div>
            <div>
                <div class="username">
                    username
                </div>
                <div class="text-sm colorGrey">
                    time
                </div>
            </div>
        </div>
        <button class="like">
            Likes
        </button>
    </div>
    <div class="mt-3">
        <div class="font-medium text-2xl">
            Title
        </div>
        <div class="text-base colorGrey">
            Description
        </div>
    </div>
    <div class="flex justify-between mt-3">
        <div class="text-xs colorGrey">
            Read more...
        </div>
        <div class="tag">
            tags
        </div>
    </div>
</div>