<div class="ml-32 mt-10 w-6/12 mb-10">
    <div>
        <div
            class="mb-5 nav inline-block pr-5"
            *ngIf="loginUser$ | async"
            (click)="myArticles = true"
        >
            Your Feed
        </div>
        <div
            class="mb-5 nav inline-block pr-5"
            (click)="myArticles = false"
        >
            Global Feed
        </div>
    </div>

    <app-all-articles
        *ngIf="!myArticles"
    ></app-all-articles>

    <app-my-articles
        *ngIf="myArticles"
    ></app-my-articles>

</div>