<div class="pl-20 background flex flex-col justify-center">
    <h1 class="title">
        {{ article.title }}
    </h1>
    <app-follow-user
        [white]="white"
        [index]="index"
    ></app-follow-user>
</div>

<div class="article mx-20">
    <div class="description mt-5">
        {{ article.body }}
    </div>
    <div
        class="tag mr-1"
        *ngFor="let tag of article.tagList">
            {{ tag }}
    </div>
</div>

<div class="flex justify-center items-center h-24">
    <app-follow-user
        [index]="index"
    ></app-follow-user>
</div>

<div class="flex flex-col items-center justify-center mb-10">
    <div>
        <a
            class="colorGreen"
            routerLink='/login'
        >
            Sign in
        </a>
            or 
        <a
            class="colorGreen"
            routerLink='/register'
        >
            sign up
        </a>
            to add comments on this article. 
    </div>
    
    <div
        class="comment mt-5"
        *ngFor="let comment of comments"
    >
        <div class="p-5">
            {{ comment.body }}
        </div>
        <div class="footer flex items-center">
            <img
                class="mx-5 avatar mr-3"
                [src]="comment.author.image"
            />
            <div class="mr-3 colorGreen">
                {{ comment.author.username }}
            </div>
            <div class="colorGrey">
                {{ comment.createdAt | date:'longDate' }}
            </div>
        </div>
    </div>
</div>